@import url('https://fonts.cdnfonts.com/css/pixel-twist');
@import url('https://fonts.cdnfonts.com/css/sf-movie-poster');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(31 41 55);
  /* font-family: 'Pixel Twist'; */
  font-family: 'SF Movie Poster';
  /* font-weight: bold; */
  letter-spacing: 1px;
}
